---
layout: default
title: Events
class: block no-snap
---

<div class="events schedule">
  {% assign count = 0 %}
  {% assign currentDate = "now" | date: "%Y-%m-%d" | timezone: "America/New_York" %}
  {% for event in site.data.events %}
    {% assign eventDate = event.date | date: "%Y-%m-%d" | timezone: "America/New_York" %}
    {% if eventDate >= currentDate and count < 20 %}
      {% include event.html %}
      {% assign count = count | plus:1 %}
    {% endif %}
  {% endfor %}
  <p> For scheduling private events, email us at <a href="mailto:events@lolev.beer">events@lolev.beer</a></p>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "event": [{% for event in site.data.events %}
    {
      "@type": "Event",
      "name": "{{ event.vendor }}",
      "startDate": "{{ event.date }}",
      "location": {
        "@type": "Place",
        "name": "Lolev Beer",
        "address": "5247 Butler St, Pittsburgh, PA 15201"{% if event.site %},
        "url": "{{ event.site }}"{% endif %}
      },{% if event.image %}"image": "{{ event.image }}",{% endif %}{% if event.description %}
        "description": "{{ event.description }}",
      {% endif %}
    }{% unless forloop.last %},{% endunless %}{% endfor %}
  ]
}
</script>
