{% if beer.image == 'TRUE' %}
  <img class="beer-img" alt="beer can of {{ beer.variant }}" src="/assets/beer/{{ beer.variant }}.webp" />
{% endif %}
<h2>
{% if beer.title %}
  {{ beer.title }}
{% else %}
  {{ beer.name }}
{% endif %}
</h2>
<h3>{{ beer.type }}</h3>
<p class="abv"><b>{{ beer.abv }}</b></p>
<p>{{ beer.description }}</p>
{% if beer.hops %}
  <h4>Hops</h4>
  <p>{{ beer.hops }}</p>
{% endif %}
{% if beer.draftAvailable == 'TRUE' %}
  <span class="beer-icon">
    <img alt="{{ beer.glass }}" src="https://menu.lolev.beer/assets/images/{{ beer.glass }}.svg">
    <b>On Draft</b>
  </span>
{% endif %}
{% if beer.cansAvailable == 'TRUE' %}
  <span class="beer-icon">
    <img alt="can" src="https://menu.lolev.beer/assets/images/can.svg">
    <b>To Go</b>
  </span>
{% endif %}
