{% if beer.image == 'TRUE' %}
  <img class="beer-img" alt="beer can of {{ beer.variant }}" src="/assets/beer/{{ beer.variant }}.webp" />
{% endif %}
<h2>{{ beer.title }}</h2>
<h3>{{ beer.type }}</h3>
<p class="abv"><b>{{ beer.abv }}</b></p>
<p>{{ beer.description }}</p>
<p>
{% if beer.draftAvailable == 'TRUE' %}
  <span class="beer-icon">
    <img alt="{{ beer.glass }}" src="https://menu.lolev.beer/assets/images/{{ beer.glass }}.svg">
    <b>On Draft</b>
  </span>
{% endif %}
{% if beer.cansAvailable == 'TRUE' %}
  <span class="beer-icon">
    <img alt="can" src="https://menu.lolev.beer/assets/images/can.svg">
    <b>To Go</b>
  </span>
{% endif %}
</p>
