<section id="beer">
  <h2>Beer</h2>
  <div>
  {% for beer in site.data.beer %}
    {% if beer.cansAvailable == 'TRUE' or beer.draftAvailable == 'TRUE' %}
      <div class="beer">
        <a class="btn" href="/beer#{{ beer.variant }}">
          <h3>{{ beer.name }}</h3>
          <span class="beer-style">{{ beer.type }}</span>
        </a>
        {% if beer.draftAvailable == 'TRUE' %}
          <span alt="{{ beer.glass }}" class="beer-icon">
            <img src="https://menu.lolev.beer/assets/images/{{ beer.glass }}.svg" alt="Beer available on draft" title="On Draft">
          </span>
        {% endif %}
        {% if beer.cansAvailable == 'TRUE' %}
          <span class="can-icon">
            <img alt="can" src="/assets/beer/{{ beer.variant }}.webp" alt="Beer available to go in 4 packs of 16oz cans" title="To Go">
          </span>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  </div>
</section>
