<section id="events" class="stacked">
  <h2>Events</h2>
  <div class="events schedule padded-section">
    {% assign currentWeek = site.time | date: "%W" %}
    {% for event in site.data.events %}
      {% if event.site %}
        {% assign postWeek = event.date | date: "%W" %}
        {% if currentWeek <= postWeek %}
          {% include event.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <p> For scheduling private events, email us at <a href="mailto:events@lolev.beer">events@lolev.beer</a></p>
  </div>
  <img class="lolev-linebreak" alt="Lolev Logo" src="/images/logo.svg" >
</section>
