<section id="events" class="stacked">
  <h2>Events</h2>
  {% assign currentDay = site.time | date: "%Y-%m-%d" %}
  {% assign count = 0 %}
  <div class="events schedule padded-section">
    {% for event in site.data.events %}
      {% if event.site %}
        {% assign postDay = event.date | date: "%Y-%m-%d" %}
        {% if currentDay <= postDay and count < 6 %}
          {% include event.html %}
          {% assign count = count | plus:1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <p> For scheduling private events, email us at <a href="mailto:events@lolev.beer">events@lolev.beer</a></p>
  </div>
  <img class="lolev-linebreak" alt="Lolev Logo" src="/images/logo.svg" >
</section>
