<section id="food" class="stacked">
  <h2>Food</h2>
  <div class="food schedule" >
  {% assign currentWeek = site.time | date: "%W" %}
  {% for food in site.data.food %}
    {% assign postWeek = food.date | date: "%W" %}
    {% if currentWeek == postWeek %}
      {% if food.vendor %}
        <span id="food-day-{{ food.date | date: '%w' }}" class="event" data-date="{{ food.date }}">
          <span class="date">{{ food.date | date: '%A' }}</span>
        {% if food.site %}
          <b><a class="btn" href="{{ food.site }}" target="_blank">{{ food.vendor }}</a></b>
        {% else %}
          <b>{{ food.vendor }}</b>
        {% endif %}
          <span>{{ food.time }}</span><br>
        </span>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  <p>This week's food schedule</p>
</section>
