<section id="food" class="stacked">
  <h2>Food</h2>
  <div class="food schedule padded-section" >
  {% assign currentWeek = site.time | date: "%W" %}
  {% assign currentYear = site.time | date: "%Y" %}
  {% assign previousDate = '' %}
  {% for food in site.data.food %}
    {% assign postWeek = food.date | date: "%W" %}
    {% assign postYear = food.date | date: "%Y" %}
    {% if currentWeek == postWeek and currentYear == postYear %}
      {% if food.vendor != empty %}
        <span id="food-day-{{ food.date | date: '%w' }}" class="event" data-date="{{ food.date }}">
          <a href="{{ food.site }}" target="_blank">
            {% if previousDate != food.date %}
              {% assign previousDate = food.date %}
              <span class="date">{{ food.date | date: '%a' }}</span>
            {% else %}
              <span class="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {% endif %}
            {% if food.site %}
              <b>{{ food.vendor }}</b>
            {% else %}
              <b>{{ food.vendor }}</b>
            {% endif %}
            <span class="date">{{ food.time }}</span>
            <br>
          </a>
        </span>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  <img class="lolev-linebreak" alt="Lolev Logo" src="/images/logo.svg" >
</section>
