<section id="food" class="stacked">
  <h2>Food</h2>
  <div class="food-schedule">
  {% for food in site.data.food %}
    <span class="food-event" data-date="{{ food.date }}">
      {{ food.date }}
        {% if food.site %}
        <b><a href="{{ food.site }}" target="_blank">{{ food.vendor }}</a></b>
        {% else %}
        <b>{{ food.vendor }}</b>
        {% endif %}
        <span class="right">{{ food.time }}</span>
        <br>
    </span>
  {% endfor %}
  </div>
  <p>Want to serve food at our brewery?</p>
  <p>Contact us at <a href="mailto:catering@lolev.beer">catering@lolev.beer</a></p>

</section>
