<section class="columns last-slide" id="footer">
  <div>
    <a href="mailto:info@lolev.beer">info@lolev.beer</a>
  </div>
  <span class="hours">
    <div id="day-1"><b>Monday</b> <span> 4pm - 10pm</span></div>
    <div id="day-2"><b>Tuesday</b> <span> 4pm - 10pm</span></div>
    <div id="day-3"><b>Wednesday</b> <span> 4pm - 10pm</span></div>
    <div id="day-4"><b>Thursday</b> <span> 4pm - 10pm</span></div>
    <div id="day-5"><b>Friday</b> <span> noon - 11pm</span></div>
    <div id="day-6"><b>Saturday</b> <span> noon - 11pm</span></div>
    <div id="day-0"><b>Sunday</b> <span> noon - 9pm</span></div>
  </span>
</section>
