<section id="music" class="stacked">
  <h2>Songwriter<br>Series</h2>
  <div class="food-schedule">
  {% for event in site.data.music %}
    {% if event.date and event.vendor  %}
      <span class="food-event" data-date="{{ food.date }}">
        {{ event.date | date: '%-m/%-d' }}
        {% if event.site %}
          <b><a href="{{ event.site }}" target="_blank">{{ event.vendor }}</a></b>
        {% else %}
          <b>{{ event.vendor }}</b>
        {% endif %}
        <span class="right">{{ event.time }}</span>
        <br>
      </span>
    {% endif %}
  {% endfor %}
  </div>
  <p>✨Live music every Thursday night! 🎶🎤<br></p>
  <p>Contact us at <a href="mailto:events@lolev.beer">events@lolev.beer</a> if you would like to join our roster</p>

</section>
