<section class="newsletter" id="newsletter">
  <div class="signup-form" id="mc_embed_signup">
    <form class="validate" id="mc-embedded-subscribe-form" action="https://beer.us5.list-manage.com/subscribe/post?u=f0d41c74cdaa37a0c3e949890&amp;id=05ee0f2ea4" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
      <div id="mc_embed_signup_scroll">
        <h3 for="mce-EMAIL">Stay up to date</h3>
        <p>Enter your email to subscribe to our newsletter</p>
        <div class="clear" id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div class="input-wrapper">

          <input class="required email newsletter-input input-text" id="mce-EMAIL" type="email" value="" placeholder=" " required name="EMAIL">
          <label class="floating-label" id="email-input-label" for="mce-EMAIL">Email Address</label>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <!-- <label id="mce2" for="mce-input2"></label> -->
          <input id="mce-input2" type="text" name="b_f0d41c74cdaa37a0c3e949890_05ee0f2ea4" tabindex="-1" value="">
        </div>
        <input class="button newsletter-form__submit" id="mc-embedded-subscribe" type="submit" value="➜" name="subscribe">
      </div>
    </form>
  </div>
</section>
