body
  position: relative
  font-family: Poppins, sans-serif
  font-size: 12px
  letter-spacing: 2px
  line-height: 1.5em
  margin: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 500
  letter-spacing: 4px
  line-height: 1.4em
  margin: 0

h1
  font-size: 3em
  letter-spacing: 10px
  text-transform: uppercase
  line-height: 1.5em
  margin-bottom: 1em
  margin-top: 1em

h2
  font-size: 2.5em
  text-transform: uppercase

h3
  font-size: 2em
  font-weight: 600
  text-transform: uppercase

h4
  font-size: 1.5em

small
  font-size: .75em

address
  display: inline
  font-style: normal

a
  // border-bottom: 2px solid
  color: inherit
  transition: opacity .45s ease
  text-decoration: none
  &:hover
    text-decoration-color: initial

ul,
p
  font-weight: 400

ul,
li
  // text-align: left

ul
  margin: 0
  padding-inline-start: 1em

p
  font-size: 15px
  letter-spacing: 1px
  line-height: 1.7em
  margin: .5em 1em

header
  align-items: center
  background: transparent
  display: flex
  justify-content: space-between
  position: absolute
  text-align: center
  width: 100%
  z-index: 1
