$rounding: .5em

*
  box-sizing: border-box

.logo
  img
    display: inline
    margin-left: 0.5em
    padding: 10px
    width: 80px

.social
  margin: 1em 1em 0
  position: absolute
  right: 0
  top: 0
  a
    display: block

.emoji-block
  font-size: 35px

.link img
  margin: .25em

html
  scroll-behavior: smooth

main,
section
  transition: background .4s ease
  height: 100vh

.height-rendered
  main,
  section
    height: var(--app-height)

main
  overflow: auto
  scroll-snap-type: y proximity
  z-index: 2
  & section
    position: relative
    scroll-snap-align: start
    h2
      font-weight: 600
      margin: 0 auto
      position: absolute
      text-align: center
      top: 10px
      z-index: 1
  &>section
    &:first-child:before
      content: ''
    &:last-child:after
      content: ''
    &:before
      content: url(../images/up.svg)
      top: 60px
      transition: filter .7s ease
      .dark &
        filter: invert(1)
    &:after
      content: url(../images/down.svg)
      bottom: 30px
    &:after,
    &:before
      z-index: 1

// @media only screen and (max-width: 400px)
//   body section
//     font-size: 4vw

@media only screen and (min-width: 641px)
  main>section#music:before
    top: 125px
  #food,
  #music
    .emoji-block
      transform: rotateZ(343deg) translateX(-160px)

slider
  scroll-snap-align: start
  scroll-snap-type: x mandatory
  display: flex
  -webkit-overflow-scrolling: touch
  overflow-x: scroll
  & > section
    min-width: 100vw
    &:first-child:before
      content: ''
      z-index: 1
    &:last-child:after
      content: ''
    &:before
    &:after
      content: url(../images/right.svg)
      right: 9vw
    &:before
      content: url(../images/left.svg)
      left: 9vw

main,
slider
  & > section
    &:after,
    &:before
      opacity: .5
      font-family: system-ui
      font-size: 2em
      position: absolute
      animation: pulse 1.5s infinite

.x-learned
  slider > section
    &:after,
    &:before
      animation: none
      opacity: .2

.y-learned
  main > section
    &:after,
    &:before
      animation: none
      opacity: .2

#slide-one,
#newsletter,
#all-beer-info
  text-align: center

#upcoming > div
  margin: auto 2em

#beer
  text-align: left
  h3
    display: inline-block
    letter-spacing: .5em
    text-align: left
  .beer
    display: block

.stacked
  & > *
    max-width: 600px
  & > p
    text-align: center

section
  img
    max-width: 500px
    width: 100%
  align-items: center
  display: flex
  justify-content: center
  padding: 6em 0
  scroll-snap-align: start
  & > header
    flex-direction: column
    top: 0
    *
      padding: 0 3em
    p
      margin-top: 3em

footer
  bottom: 0
  display: flex
  font-size: 1.2em
  justify-content: center
  letter-spacing: 1px
  padding: 0.5em 1em
  position: absolute
  text-align: center
  transition: color .7s ease
  width: 100%
header,
footer
  a
    border-bottom: 0

footer a
  text-transform: uppercase

label
  display: block
  margin-bottom: 2em

::placeholder
  color: #666

.input-wrapper
  display: inline
  letter-spacing: 2px
  position: relative
  text-align: left

input
  -webkit-appearance: none
  background: none
  border: none
  color: black
  font-family: inherit
  letter-spacing: 1px
  margin-bottom: 1em
  outline: none
  padding: 1em 0
  &[type=email]
    border-bottom: 2px solid black
    -webkit-appearance: none
    border-radius: 0
    margin-top: 3em
  &[type=submit]
    border-bottom: 2px solid
    cursor: pointer
    font-size: 20px
  &:not(:placeholder-shown) ~ .floating-label
    top: -20px
    left: 0
    font-size: 11px
    opacity: 1
s
  color: #00000015
  text-decoration-color: red
  text-decoration-style: double

h3 + p
  margin-top: 1.25em

.date
  text-transform: uppercase

.input-text
  font-size: 14px
  height: 35px
  width: 200px

.floating-label
  color: black
  opacity: .8
  position: absolute
  pointer-events: none
  left: 0
  top: 0
  transition: 0.2s ease all

.btn .beer-style
  vertical-align: super

.beer-img
  height: auto
  margin-bottom: 1em
  max-height: 30vh
  width: auto

.beer-icon-description
  @media screen and (max-width: 740px)
    display: none

.beer-icon,
.can-icon
  @media screen and (max-width: 740px)
    display: none
  display: inline-block
  margin-left: 0.5em
  img
    display: inline
    padding-top: 0
    transform: translateY(7px)
    height: 36px
    width: auto

.beer-icon img
  height: 34px
  margin-left: 3px
  transform: translateY(6px)


.blur
  color: transparent
  text-shadow: 0 0 8px rgba(0,0,0,.5)
  a
    color: transparent
    pointer-events: none

section
  letter-spacing: normal

@media screen and (min-width: 450px)
  p
    a[href*="eventbrite.com"]
      &:after
        content: url(/images/ticket.svg)
        display: inline-block
        height: auto
        padding-left: 4px
        width: 28px
    a[href*="instagram.com"]
      &:after
        content: url(/images/instagram.svg)
        display: inline-block
        padding-left: 4px
        transform: translateY(2px)
    a[href*="facebook.com"]
      &:after
        content: url(/images/facebook.svg)
    a[href*="instagram.com"],
    a[href*="facebook.com"],
    a[href*="eventbrite.com"]
      &:after
        vertical-align: middle
.active
  border: 3px dotted
  border-radius: 10px
  display: block
  margin: 0 -1em 0
  padding: 3px 1em
  a
    background: black
    color: white
    &:after
      filter: invert(1)

#map
  width: 100%

.name
  text-transform: uppercase

table
  text-align: left
th,
td
  padding: 0 1em
td:first-child
  background: transparent
tbody
  tr
    &:nth-child(odd)
      background: #00000025
      a
        cursor: pointer

@keyframes pulse
  0%, 100%
    transform: scale(0.5)
    opacity: .2
  95%
    transform: scale(1.25)
    opacity: .7

@supports (-webkit-touch-callout: none)
  main,
  section
    height: calc(100vh - 75px)

iframe
  border: none

@media screen and (max-height: 700px)
  section
    font-size: 2vh

.abv
  font-size: 1.5em
  margin: 0 0 .5em
  &:after
    content: '%'

.schedule
  font-size: 1.4em
  letter-spacing: 2px
  line-height: 1.5em
  margin: 1.2em

.stacked
  flex-direction: column
  flex-wrap: wrap
  @media screen and (width: 700px)
    max-width: 400px
  &.clear-height
    height: auto
    text-align: left
    h1
      margin-top: 1em

.vertical-align
  align-items: unset
  height: 100px
  margin: 0.5em
  width: 150px

.border-bottom-none
  border-bottom: none

.columns
  flex-wrap: wrap
  justify-content: space-evenly
  row-gap: 10px
  column-gap: 20px

.hours
  min-width: 300px
  text-align: left
  div
    padding: 0 .5em
    &.active
      border-radius: 7px
      margin: 0 -3px
  span
    float: right
.last-slide
  background: black !important
  color: white
  font-size: 1.4em
  letter-spacing: 2px
  line-height: 1.5em
  a
    color: #777

.charts
  max-height: 30%


.btn
  background: black
  border-radius: 8px
  color: white
  display: inline-block
  font-weight: bold
  letter-spacing: 3px
  margin: 4px auto
  opacity: 1
  padding: 5px 15px 3px
  text-align: center
  text-transform: uppercase
  transition: all .25s ease
  &:after
    filter: invert(1)
  &:hover
    filter: drop-shadow(0px 2px 4px #00000055)
    opacity: 1
  &:active
    filter: drop-shadow(0px 1px 2px #00000055)
    transform: translateY(2px)
  .beer &
    margin: 3px auto
    padding: 2px 15px
  .event &
    @media only screen and (max-width: 600px)
      letter-spacing: 0

.btn.sales
  background: #FFD814
  border: 3px solid #ffc107
  border-bottom-color: #cc9900
  color: black
  display: block
  margin: 1em
  padding: 15px 25px

header
  img,
  svg
    transition: filter .7s ease

footer *
  color: black
  transition: color .25s ease, text-decoration-color .25s ease

.dark
  header
    img,
    svg
      filter: invert(1)
  footer
    background: none
    a
      color: white

#food
  padding: 60px 0 35px
  *:nth-child(2)
    text-align: left
    .right
      float: right
      padding-left: 1em

@media only screen and (max-width: 741px)
  main
    scroll-snap-type: y mandatory
  main > section h2
    top: 12px
  .columns
    flex-direction: column
  h1
    font-size: 2.3em
    max-width: 100% !important
  h2
    letter-spacing: 2px
  .beer-style
    transform: translate(3px, -2px)
  #beer
    font-size: 0.7em
    padding: 1em 2em
  .schedule
    letter-spacing: 0
  #find-lolev
    width: 100% !important


.scroll-animate
  animation: MoveUpDown 1.5s ease-in infinite
  left: calc(50% - 90px)
  opacity: .3
  position: absolute


@keyframes MoveUpDown
  0%, 100%
    bottom: 100px

  5%
    bottom: 115px
