$rounding: .5em

*
  box-sizing: border-box

.logo
  img
    display: inline
    margin-left: 0.5em
    padding: 10px
    width: 80px

.social
  margin: 0 1em
  position: absolute
  right: 0
  top: 0
  z-index: 2
  a
    display: block


.emoji-block
  font-size: 35px

.link img
  margin: .25em

html
  scroll-behavior: smooth

main,
section
  transition: background .4s ease
  height: 100vh

.height-rendered
  main,
  section
    height: var(--app-height)

.dots
  cursor: pointer
  padding: 30px 0
  transition: transform .15s ease
  width: 48px
  .menu-open &
    transform: rotate(90deg)
.dot
  background: black
  border-radius: 50%
  height: 5px
  margin: 4px auto
  text-align: center
  width: 5px

main
  overflow: auto
  scroll-snap-type: y proximity
  z-index: 2
  & section
    position: relative
    scroll-snap-align: start
    h2
      font-weight: 600
      margin: 0 auto
      position: absolute
      text-align: center
      top: 100px

.beer-cans
  .can
    width: 70px
    #cans &
        width: 117px

@media only screen and (min-width: 641px)
  main>section#music:before
    top: 125px
  #food,
  #music
    .emoji-block
      transform: rotateZ(343deg) translateX(-160px)

slider
  scroll-snap-align: start
  scroll-snap-type: x mandatory
  display: flex
  -webkit-overflow-scrolling: touch
  overflow-x: scroll
  & > section
    min-width: 100vw
    &:first-child:before
      content: ''
      z-index: 1
    &:last-child:after
      content: ''
    &:before
    &:after
      content: url(../images/right.svg)
      right: 9vw
    &:before
      content: url(../images/left.svg)
      left: 9vw

.x-learned
  slider > section
    &:after,
    &:before
      animation: none
      opacity: .2

.y-learned
  main > section
    &:after,
    &:before
      animation: none
      opacity: .2

#slide-one,
#newsletter,
#all-beer-info
  text-align: center

#beer
  text-align: left
  h3
    display: inline-block
    text-align: left
  .beer
    display: block

.stacked
  & > *:not(#find-lolev)
    max-width: 600px
  & > p
    text-align: center
section
  img
    max-width: 500px
    width: 100%
  align-items: center
  justify-content: center
  padding: 6em 0
  scroll-snap-align: start
  & > header
    flex-direction: column
    top: 0
    *
      padding: 0 3em
    p
      margin-top: 3em

footer
  bottom: 0
  display: flex
  font-size: 1.2em
  justify-content: center
  letter-spacing: 1px
  padding: 0.5em 1em
  position: absolute
  text-align: center
  transition: color .7s ease
  width: 100%
footer a,
a.logo,
.social a,
menu a
    border-bottom: 0

footer a
  text-transform: uppercase

label
  display: block
  margin-bottom: 2em

::placeholder
  color: #666

.input-wrapper
  display: inline
  letter-spacing: 2px
  position: relative
  text-align: left

input
  -webkit-appearance: none
  background: none
  border: none
  color: black
  font-family: inherit
  letter-spacing: 1px
  margin-bottom: 1em
  outline: none
  padding: 1em 0
  &[type=email]
    border-bottom: 2px solid black
    -webkit-appearance: none
    border-radius: 0
    margin-top: 3em
  &[type=submit]
    background: black
    color: white
    border: 2px solid black
    border-radius: 7px
    cursor: pointer
    font-size: 20px
    text-transform: uppercase
    padding: 5px 1em
  &:not(:placeholder-shown) ~ .floating-label
    top: -20px
    left: 0
    font-size: 11px
    opacity: 1
s
  color: #00000015
  text-decoration-color: red
  text-decoration-style: double

h3 + p
  margin-top: 1.25em

.time
  text-transform: lowercase

.input-text
  font-size: 14px
  height: 35px
  width: 200px

.floating-label
  color: black
  opacity: .8
  position: absolute
  pointer-events: none
  left: 0
  top: 0
  transition: 0.2s ease all

.lolev-linebreak
  height: auto
  width: 40px

.btn .beer-style
  font-size: 2em
  letter-spacing: 2px
  margin-left: .5em

.beer-img
  height: auto
  margin-bottom: 1em
  max-height: 30vh
  width: auto
.padded-section
  margin: 5em auto

@media screen and (max-height: 675px)
  .beer-img
    max-height: 20vh

.beer-icon-description
  @media screen and (max-width: 740px)
    display: none

.beer-icon,
.can-icon
  @media screen and (max-width: 740px)
    display: none
  display: inline-block
  margin-left: 0.5em
  img
    display: inline
    padding-top: 0
    transform: translateY(7px)
    height: 36px
    width: auto

.beer-icon img
  height: 34px
  margin-left: 3px
  transform: translateY(6px)

.blur
  color: transparent
  text-shadow: 0 0 8px rgba(0,0,0,.5)
  a
    color: transparent
    pointer-events: none

section
  letter-spacing: normal

.active
  background: black
  border-radius: 10px
  color: white
  display: block
  margin: 0 -1em 0
  padding: 3px 1em
  a
    &:after
      filter: invert(1)

#map
  width: 100%

.name
  font-weight: 600
  letter-spacing: 3px
  text-transform: uppercase


table
  border-spacing: 0
  font-size: 1.5em
  line-height: 1.5em
  margin: 0 auto
  text-align: left
th,
td
  padding: 0 1em
td:first-child
  background: transparent
tbody
  tr
    padding: 1em 0
    &:nth-child(odd) td
      // background: #00000025
      &:nth-child(odd)
        background: #00000025
    &:nth-child(even) td
      &:nth-child(even)
        background: #00000025
      a
        cursor: pointer

@keyframes pulse
  0%, 100%
    transform: scale(0.5)
    opacity: .2
  95%
    transform: scale(1.25)
    opacity: .7

@supports (-webkit-touch-callout: none)
  main,
  section
    height: calc(100vh - 75px)

iframe
  border: none

@media screen and (max-height: 700px)
  section
    font-size: 2vh

.abv
  font-size: 1.5em
  margin: 0 0 .5em
  &:after
    content: '%'

.schedule
  .event
    font-size: 2em
    letter-spacing: 2px
    line-height: 1.5em
    text-transform: uppercase
.schedule,
.beer-cans
  p
    text-align: center

.stacked
  display: flex
  flex-direction: column
  flex-wrap: wrap
  @media screen and (width: 700px)
    max-width: 400px
  &.clear-height
    height: auto
    text-align: left
    h1
      margin-top: 1em

.vertical-align
  align-items: unset
  height: 100px
  margin: 0.5em
  width: 150px

.border-bottom-none
  border-bottom: none

.columns
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  row-gap: 10px
  column-gap: 20px

.hours
  min-width: 300px
  text-align: left
  div
    padding: 0 .5em
    &.active
      background: white
      border-radius: 4px
      color: black
      margin: 0 -3px
  span
    float: right
.last-slide
  background: black !important
  color: white
  font-size: 1.4em
  letter-spacing: 2px
  line-height: 1.5em
  a
    color: #777

.charts
  max-height: 30%

.logo
  z-index: 2

li

@media only screen and (max-width: 1000px)
  menu
    display: grid !important
    .menu-open &
      height: 100vh
      padding: 4em 2em
    li
      display: flex !important
      flex-direction: column

menu
  background: #fffffff0
  display: block
  font-size: 2.5em
  font-weight: bold
  left: 0
  list-style-type: none
  margin: 0
  max-width: 100%
  opacity: 0
  padding: 36px
  position: fixed
  right: 0
  text-transform: uppercase
  transition: opacity .15s ease
  top: 0
  visibility: hidden
  z-index: 1
  a
    padding: 0 1em
  li
    display: inline-flex
  body.menu-open &
    opacity: 1
    visibility: visible

img[src="/images/x.svg"]
  width: 42px

[data-column="Case"],
[data-column="Sixtel"],
[data-column="Half"]
  &::before
    content: "$"

.btn.sales
  background: #FFD814
  border: 3px solid #ffc107
  ottom-color: #cc9900
  color: black
  display: block
  margin: 1em
  padding: 15px 25px

header
  img,
  svg
    transition: filter .7s ease

footer *
  color: black
  transition: color .25s ease, text-decoration-color .25s ease

.dark footer .address
  color: white
.dark:not(.menu-open)
  header
    img,
    svg,
    #menu-control
      filter: invert(1)
  footer
    background: none
    a
      color: white
.dark.menu-open
  .link
    filter: invert(1)
    margin-top: 1em
.link
  transition: margin-top .25s ease
#food
  padding: 60px 0 35px
  *:nth-child(2)
    text-align: left
    .right
      float: right
      padding-left: 1em

#find-lolev
  width: 100% !important

.faucet
  height: 33px
  display: inline
  margin-right: 10px
  vertical-align: bottom
  width: auto

@media only screen and (max-width: 760px)
  .block
    height: auto !important
  table
    display: block
    margin: 0 auto
    max-width: 600px
    text-align: center
  table,
  thead,
  tbody,
  th,
  td,
  tr
    display: block
  thead tr
    position: absolute
    top: -9999px
    left: -9999px
  td
 		position: relative
  td:before
 		top: 6px
 		left: 6px
 		width: 45%
 		padding-right: 10px
 		white-space: nowrap
 		content: attr(data-column)
 		color: #000
 		font-weight: bold

@media only screen and (max-width: 741px)
  main
    scroll-snap-type: y mandatory
  main > section h2
    top: 25px
  .columns
    flex-direction: column
  h1
    font-size: 2.3em
    max-width: 100% !important
  h2
    letter-spacing: 2px
  .beer-style
    transform: translate(3px, -2px)
  #beer
    // font-size: 0.7em
    // padding: 1em 2em
  .schedule
    letter-spacing: 0
.easeload
  opacity: 0
  transition: all 1s ease

.scroll-animate
  animation: MoveUpDown 1.5s ease-in infinite
  left: calc(50% - 90px)
  opacity: .3
  position: absolute

@keyframes MoveUpDown
  0%, 100%
    bottom: 100px
  5%
    bottom: 115px
