.tabs {
  background: #e5e5e5;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1em;
  padding: 3px;
  gap: 0;
}

.tab-button {
  background: #e5e5e5;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #666;
  cursor: pointer;
  font-family: inherit;
  padding: 5px 15px;
  transition: all 0.3s ease;
}

.tab-button:not(:first-child) {
  border-left: none;
}

.tab-button.tab-active {
  background: #f4fdff;
  color: #333;
  z-index: 1;
}

.tab-content {
  display: none;
}

.tab-content.tab-active {
  display: block;
} 