
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}
html {
  background: black;
}
h1 {
  font-size: 2.5em;
  font-weight: 400;
}
h1,
label {
  letter-spacing: 5px;
}
a {
  color: #CAA557;
  text-decoration: none;
}
header {
  background: #000;
  display: flex;
  justify-content: space-between;
}
header > * {
  align-self: center;
  display: flex;
}
menu {
  /* background-color: rgba(10, 10, 10, 0.5); */
  justify-content: center;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
menu li {
  list-style: none;
  margin: 0 1em;
}
#menu-button {
  background: black;
  border-radius: 50px;
  border: none;
  padding: 4em;
  position: absolute;
  right: -50px;
  top: -50px;
  transition: transform .15s linear;
}
#menu-botton:not(.in-zone) {
  transform: matrix(1, 0, 0, 1, 0, 0) !important;
}
#menu-button:after,
#menu-button:before {
  background: white;
  content: '';
  display: block;
  height: 2px;
  width: 20px;
}
#menu-button:after {
  float: right;
  margin-top: 7px;
  width: 15px;
}
button {
  cursor: pointer
}
.button {
  background-color: #CAA557;
  border-style: none;
  border: 2px solid #CAA557;
  color: black;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: .75em 2em;
  transition: background .25s ease;
}
.button:hover {
  background: rgba(202, 165, 87, .9);
}
.button:active {
  background: rgba(202, 165, 87, .8);
}
input { width: 100% }
label {
  display: block;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin: 1em auto .25em;
}
input {
  background: none;
  border: 2px solid #CAA557;
  color: white;
  font-family: 'Poppins';
  padding: 1em;
}
input:focus-visible {
  outline: unset;
}
.logo-image {
  float: left;
  margin: 0 1em;
  width: 75px;
}
.instagram img,
.twitter img {
  transform: scale(1.2);
}
.newsletter-input {
  border-radius: 4px 4px 0 0;
}
.newsletter-form__submit {
  border-radius: 0 0 4px 4px;
  display: block;
  padding: 1em;
}
.newsletter-form__success {
  background: black;
  top: 40px;
}
.newsletter-form__submit--loading:after {
  top: calc(50% - 3px);
  left: calc(50% - 3px);
}
.fade-in {
  animation: fadeIn 10s;
}
.signup-form {
  margin: 3em 0;
}
footer {
  font-size: .7em;
}
@media only screen and (min-width: 400px) {
  .newsletter-input {
    border-radius: 4px 0 0 4px;
  }
  .newsletter-form__submit {
    border-radius: 0 4px 4px 0;
    display: inline;
    transform: translateX(-12px);
  }
  button,
  input {
    width: auto
  }
}
.social-links a {
  display: inline-block;
  margin: 0 .5em;
  width: 20px;
}
#coming-soon {
  margin: 1em auto 2em;
}
.blog-image {
  border: 1px solid #f3f3f3;
  width: 200px;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
