<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="assets/style.css" media="screen">
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
    <script src="assets/script.js" async></script>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Lolev produces artisian craft beer and is located in the Lawrenceville neighborhood of Pittsburgh, PA.">

    <title>Lolev Brewing Company - Lawrenceville, Pittsburgh, PA</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RR14DE5FPS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-RR14DE5FPS');
    </script>
  </head>
  <body>
    <header>
      <a class="logo" href="index.html">
        <img class="logo-image" src="assets/Lolev_W_no_text.png" />
      </a>
      <menu>
        <li><a href="#">Beer</a></li>
        <li><a href="#">Updates</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="mailto:info@lolev.beer">Contact</a></li>
      </menu>
      <span class="social-links">
        <a target="_blank" alt="Instagram" class="social instagram" href="https://www.instagram.com/lolevbeer">
          <img src="assets/instagram.svg">
        </a>
        <a target="_blank" alt="Facebook" class="social facebook" href="https://www.facebook.com/lolevbeer">
          <img src="assets/facebook.svg">
        </a>
        <a target="_blank" alt="Twitter" class="social twitter" href="https://www.twitter.com/lolevbeer">
          <img src="assets/twitter.svg">
        </a>
      </span>
      <!-- <button id="menu-button"></button> -->
    </header>

    <h1 id="coming-soon" class="fade-in">Spring 2022</h1>

    {{ content }}

    <div id="mc_embed_signup" class="signup-form">
      <form action="https://beer.us5.list-manage.com/subscribe/post?u=f0d41c74cdaa37a0c3e949890&amp;id=05ee0f2ea4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        	<label for="mce-EMAIL">Stay up to date </label>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        	<input type="email" placeholder="enter email" value="" name="EMAIL" class="required email newsletter-input" id="mce-EMAIL">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0d41c74cdaa37a0c3e949890_05ee0f2ea4" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button newsletter-form__submit">
        </div>
      </form>
    </div>

    <footer>
      <p>© 2021 Lolev Beer<br>
      Lolev is a registered trademark of Lolev LLC.</p>
    </footer>
  </body>
</html>
