{% include header.html %}
<dialog>
  Are you 21?
</dialog>
<main>
  <section class="{{ page.class | default: "stacked" }}" id="slide-one">
    <h1>{{ page.title}}</h1>
    {{ content }}
  </section>
{% if page.url == "/" %}
  {% include beers.html %}
  {% include cans.html %}
  {% include coming.html %}
  {% include food.html %}
  {% include events.html %}
{% for section in site.sections %}
  <section class="{{ section.class | default: "stacked" }}" id="{{ section.title | downcase }}">
    <h2>{{ section.title }}</h2>
    {{ section.content }}
  </section>
{% endfor %}
{% endif %}
  {% include lastslide.html %}
</main>
{% include footer.html %}
