name: Update Data
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'public/data/*.csv'
  repository_dispatch:
    types: [update-data]
  workflow_dispatch:  # Allows manual triggering

jobs:
  get-remote-doc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ github.token }}
      - name: Download Remote Documents
        env:
          LAWRENCEVILLE_DRAFT: ${{ vars.LAWRENCEVILLE_DRAFT }}
          LAWRENCEVILLE_CANS: ${{ vars.LAWRENCEVILLE_CANS }}
          LAWRENCEVILLE_FOOD: ${{ vars.LAWRENCEVILLE_FOOD }}
          LAWRENCEVILLE_EVENTS: ${{ vars.LAWRENCEVILLE_EVENTS }}
          LAWRENCEVILLE_HOURS: ${{ vars.LAWRENCEVILLE_HOURS }}
          ZELIENOPLE_DRAFT: ${{ vars.ZELIENOPLE_DRAFT }}
          ZELIENOPLE_CANS: ${{ vars.ZELIENOPLE_CANS }}
          ZELIENOPLE_FOOD: ${{ vars.ZELIENOPLE_FOOD }}
          ZELIENOPLE_EVENTS: ${{ vars.ZELIENOPLE_EVENTS }}
          ZELIENOPLE_HOURS: ${{ vars.ZELIENOPLE_HOURS }}
          BEER: ${{ vars.BEER }}
          COMING: ${{ vars.COMING }}
        run: |
          bash ingest/update-data.sh
      - name: Commit and Push Changes
        run: |
          git config --local user.email "lolevbeer@gmail.com"
          git config --local user.name "Lolev Manager"
          git add public/data/*.csv
          git diff-index --quiet HEAD -- public/data/*.csv || git commit -m "Sync Data from google sheets"
          git pull --rebase origin master
          git push
